@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

:root {
  --light-green: lightgreen;
  --dark-green: #73d273;
  --revealed-green: #c3ffc2;
}

* {
  font-family: "JetBrains Mono", monospace;
}

.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.minesweeper-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minesweeper-board {
  border: 15px solid darkgreen;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(18,30px);
}

.minesweeper-cell {
  outline: 0.5px solid darkgreen;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease;
}

.lighter-green {
  background-color: var(--light-green);
}

.darker-green {
  background-color: var(--dark-green);
}

.revealed {
  background-color: var(--revealed-green);
}

.minesweeper-mine {
  height: 70%;
  width: 70%;
  background-color: rgb(230, 62, 33);
  border-radius: 50px;
  animation-name: explode;
  animation-duration: .6s;
}

.flag {
  height: 60%;
  width: 60%;
}

.reset-button {
  position: absolute;
  height: 120px;
  width: 250px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: blueviolet;
  border: 7px solid darkslateblue;
  border-radius: 20px;
  animation-name: appear;
  animation-duration: 1s;
}

.message {
  text-align: center;
}

.flag-button {
  width: 100%;
  max-width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: white;
}

.flag-button-on {
  background-color: var(--dark-green);
}

.flag-button-off {
  background-color: rgb(240, 107, 107);
}

.flag-button-container {
  display: flex;
  justify-content: center;
}


@keyframes appear {
  0% {
    transform: scale(0,0);
  }
  50% {
    transform: scale(1.1,1.1)
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes explode {
  0% {
    transform: scale(0,0);
  }
  50% {
    transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1,1);
  }
}

@media(max-width: 600px) {
  .minesweeper-board {
    zoom: 65%;
  }
}